/* todos los elementos del documento */
* { 
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

/* tablero */
.tablero {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
}

/* tarjetas */
.tarjeta {
  width: 100px;
  height: 100px;
  background-color: #4a90e2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: 2rem;
  color: transparent; /* ocultar el emoji al inicio */
  transition: background-color 0.3s, color 0.3s;
}

/* cuando está activa, muestra el contenido */
.tarjeta.activa .contenido {
  color: #fff;
}

/* estilo del contenido - emoji */
.contenido {
  pointer-events: none; /* evitar que el span reciba clics */
  transition: color 0.3s;
}
